$lightGreen : #b9e7e7;


.app {

    .containerr{

        height: 100vh;
    }
}

.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $lightGreen;
    // width: 100vw;
}

.form{
    
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    gap: 20px;

    input{
        padding: 10px;
        border: none;
        border-bottom: 1px solid gray;
    }
    button{
        padding: 10px;
        border: none;
    }
}

//Navbar

.form-white.input-group>.form-control:focus {
    border-color: #fff;
    box-shadow: inset 0 0 0 1px #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover,
  .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
  }

  //Footer

 footer{

  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

 }

 //Home

 .home {
  margin: 5%;
  .posts {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 150px;

    .post {
      display: flex;
      gap: 100px;

      &:nth-child(2n + 1) {
        flex-direction: row-reverse;
      }

      .img {

        img {
          width: 100%;
          max-height: 400px;
          object-fit:cover;
        }
      }

      .content {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;

        h1 {
          font-size: 48px;
        }

        p {
          font-size: 18px;
        }

        button {
          width: max-content;
          padding: 10px 20px;
          border: none;
          cursor: pointer;
          background-color: white;
          border: 1px solid teal;
          color: teal;

          &:hover {
            border: 1px solid white;
            background-color: $lightGreen;
            color: black;
          }
        }
      }
    }
  }
}

  //SINGLE

  .blog_image{
    width: 100%;

  }
  .Menu_blog_image{
    object-fit: contain;
  }

  .single {
    display: flex;
    gap: 50px;
    margin: 3%;
    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 30px;

      img {
        width: 100%;
        height: 500px;
        object-fit:contain;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 14px;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-weight: bold;
        }
      }

      .edit {
        display: flex;
        gap: 5px;

        img {
          width: 20px;
          height: 20px;
          cursor: pointer;
        }
      }

      h1 {
        font-size: 42px;
        color: #333;
      }

      p {
        text-align: justify;
        line-height: 30px;
      }
    }
    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 25px;

      h1 {
        font-size: 20px;
        color: #555;
      }

      .post {
        display: flex;
        flex-direction: column;
        gap: 10px;

        img {
          width: 100%;
          height: 200px;
          object-fit: cover;
        }

        h2 {
          color: #555;
        }

        button {
          width: max-content;
          padding: 7.5px 15px;
          border: none;
          cursor: pointer;
          color: teal;
          background-color: white;
          border: 1px solid teal;

          &:hover {
            border: 1px solid white;
            background-color: $lightGreen;
            color: black;
          }
        }
      }
    }
  }


  //Create BLog


  .add {
    margin-top: 20px;
    display: flex;
    gap: 20px;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 0 40px;
    justify-content: center;

    .content {
      flex: 5;
      display: flex;
      flex-direction: column;
      gap: 20px;

      input {
        padding: 10px;
        border: 1px solid lightgray;
      }

      .editorContainer {
        height: 300px;
        overflow: hidden;
        border: 1px solid lightgray;

        .editor {
          height: 100%;
          border: none;
        }
      }
    }

    .menu {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        border: 1px solid lightgray;
        padding: 10px;
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 12px;
        color: #555;

        h1{
          font-size: 20px;
        }

        .file{
          text-decoration: underline;
          cursor: pointer;
        }

        .buttons{
          display: flex;
          justify-content: space-between;

          :first-child{
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;
            padding: 3px 5px;
          }
          :last-child{
            cursor: pointer;
            color: white;
            background-color: teal;
            border: 1px solid teal;
            padding: 3px 5px;
          }
        }

        .cat{
          display: flex;
          align-items: center;
          gap: 2px;
          color: teal;
        }
      }
    }
  }

  //ACCOUNT PAGE 
   
.user_account_background{

  height: 100%;
  background-color: $lightGreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_account{

  background-color: white;
  height: 50%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


//Footer

.footer_container{
  height: 150px;
  display: flex;
  align-items: flex-end;
  // background-color: #555;
}


//COMMENTS

.comment_container{

  display: flex;
  flex-direction: column;
  margin: 2%;
  
}